<div class="hero-unit"> 
				<div class="caixa"> 
					<a href="http://www.ifsc.edu.br"> 
						<img src="images/sistemas/ico_site.png"> 
						<br> 
						Site</a> 
				</div> 
				<div class="caixa"> 
					<a href="http://intranet.ifsc.edu.br"> 
						<img src="images/sistemas/ico_intranet.png"> 
						<br> 
						Intranet</a> 
				</div>
				<div class="caixa"> 
					<a href="http://linkdigital.ifsc.edu.br"> 
						<img src="images/sistemas/ico_linkdigital.png"> 
						<br> 
						Link Digital</a> 
				</div>
				<div class="caixa"> 
					<a href="http://tv.ifsc.edu.br"> 
						<img src="images/sistemas/ico_tv.png"> 
						<br> 
						TV</a> 
				</div>
				<div class="caixa"> 
					<a href="http://intranet.ifsc.edu.br/"> 
						<img src="images/sistemas/ico_email.png"> 
						<br> 
						E-mail</a> 
				</div>  
				<div class="caixa"> 
					<a href="http://forum.ifsc.edu.br"> 
						<img src="images/sistemas/ico_forum.png"> 
						<br> 
						Fórum</a> 
				</div>
				<div class="caixa"> 
					<a href="http://dotproject.ifsc.edu.br"> 
						<img src="images/sistemas/ico_projetos.png"> 
						<br> 
						Projetos</a> 
				</div>
				<div class="caixa"> 
					<a href="http://biblioteca.ifsc.edu.br"> 
						<img src="images/sistemas/ico_biblioteca.png"> 
						<br> 
						Bilioteca</a> 
				</div> 
				<div class="caixa"> 
					<a href="http://ead.ifsc.edu.br"> 
						<img src="images/sistemas/ico_ead.png"> 
						<br> 
						Ead</a> 
				</div> 
				<div class="caixa"> 
					<a href="http://www.ifsc.edu.br/isaac"> 
						<img src="images/sistemas/ico_academico.png"> 
						<br> 
						Acadêmico</a> 
				</div> 
				<div class="caixa"> 
					<a href="http://intranet.ifsc.edu.br/logon.php?continue=/frmDGC/ingresso/admin/"> 
						<img src="images/sistemas/ico_ingresso.png"> 
						<br> 
						Ingresso</a> 
				</div>
				<div class="caixa"> 
					<a href="http://intranet.ifsc.edu.br/logon.php?continue=/frmDGC/concurso/admin/"> 
						<img src="images/sistemas/ico_concurso.png"> 
						<br> 
						Concurso</a> 
				</div>
				<div class="caixa"> 
					<a href="http://dgp.ifsc.edu.br/sigp/index.php?pg=compras&amp;md="> 
						<img src="images/sistemas/ico_compras.png"> 
						<br> 
						Compras</a> 
				</div> 
				<div class="caixa"> 
					<a href="http://dgp.ifsc.edu.br/sigp/index.php?pg=patrimonio&amp;md="> 
						<img src="images/sistemas/ico_patrimonio.png"> 
						<br> 
						Patrimônio</a> 
				</div> 
				<div class="caixa"> 
					<a href="http://dgp.ifsc.edu.br/sigp/index.php?pg=sigp&amp;md="> 
						<img src="images/sistemas/ico_pessoas.png"> 
						<br> 
						Pessoas</a> 
				</div> 
				<div class="caixa"> 
					<a href="http://aluno.ifsc.edu.br"> 
						<img src="images/sistemas/ico_aluno.png"> 
						<br> 
						Aluno</a> 
				</div> 
</div>
